.card-hover {
  border: 4px solid transparent;
  transition: background-color 0.3s, border-color 0.3s;
}

.card-hover-green:hover {
  background-color: white;
  border-color: var(--color-green);
}

.card-hover-blue:hover {
  background-color: white;
  border-color: var(--color-blue-950);
}

.card-hover-purple:hover {
  background-color: white;
  border-color: var(--color-orange-red);
}

.card-hover-orange:hover {
  background-color: white;
  border-color: var(--color-purple-red);
}

.fa-solid{
    font-size: 4rem;
}

.paragrafo{
    font-size: 1.3rem;
    line-height: 2rem;
}

.itemListCard{
    list-style-type: disc;

    &::marker{
        font-size: 2rem;
    }
}