.menu-tile-before {
  position: relative;
  z-index: 1000;

  /* Necessário para o :before absolute */
  width: calc(200% - 8px);
}

.menu-tile-before::before {
  content: '';
  background: var(--color-green);
  /* Verde da paleta Tailwind (bg-green-500) */
  width: 40px;
  top: 0;
  right: -20px;
  /* Ajuste para sobrepor o gap e vazar na tile adjacente */
  bottom: 0;
  position: absolute;
  z-index: -1;
  /* Fica atrás do conteúdo da tile */
}

.menu-tile-before-blue {
  /* Necessário para o :before absolute */
}

.menu-tile-before-blue::before {
  content: '';
  background: var(--color-blue);
  /* Vermelho escuro (bg-red-700) */
  width: 40px;
  top: 0;
  right: -20px;
  /* Ajuste para sobrepor o gap e vazar na tile adjacente */
  bottom: 0;
  position: absolute;
  z-index: -1;
  /* Fica atrás do conteúdo da tile */
}

.menu-tile-right {
  width: calc(200% - 8px);
  margin-left: calc(-100% + 8px);
}