/*
******

    Introdução

******
 */

@media screen and (min-width: 768px) and (max-width: 1440px) {
    .news-mobile {
        margin: 0 2rem;
    }
}

/* Tablet */
@media screen and (min-width: 427px) and (max-width: 768px) {
    .introducao-mobile {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        flex-wrap: nowrap;
        padding: 0;
    }

    .introducao-mobile-banner {
        padding: 0;
    }

    .intro-mobile-banner-img {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
    }

    .introducao-mobile-banner-img {
        width: 20rem;
    }

    .introducao-mobile-banner-fundo {
        width: 100%;
        height: 15rem;
    }

    .news-mobile {
        margin: 0 1rem;

        & .news-mobile-carousel {
            right: 7rem;
            width: 14rem;
        }


        & .news-nabvar-text {
            gap: 2rem
        }

        & .texto-carrosel {
            left: 0;
        }
    }

}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .news-mobile {
        margin: 0 1rem
    }

    .introducao-mobile-banner-fundo {
        width: 30rem;

        & .introducao-mobile-p {
            position: relative;
            left: 8rem;
            text-align: left;
        }
    }
}

/* Celular */
@media screen and (min-width: 319px) and (max-width: 726px) {
    .introducao-mobile {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        flex-wrap: nowrap;
        padding: 0;
        margin: 0;
    }

    .introducao-mobile-banner {
        padding: 0;
    }

    .news-mobile {
        margin: 0 1rem;
        width: 20rem;

        & .news_navbar_text {
            gap: 2rem;
        }

        & .news-nabvar-text {
            gap: 5rem
        }

        & .texto-carrosel {
            left: 0;
        }

        & .news-mobile-carousel {
            width: 5rem;
            right: 3rem;
        }
    }

    .introducao-mobile-banner-fundo {
        height: 15rem;
        width: 100%;

        & .introducao-mobile-p {
            position: relative;
            left: 9rem;
        }
    }
}