/* Telas Maiores */
@media screen and (min-width: 1025px) {
    .navbar-desktop {
        display: flex;
    }

    .navbar-mobile {
        display: none;
    }
}

/* Telas Menores*/

/* Tablet */
@media screen and (min-width: 427px) and (max-width: 768px) {
    .navbar-container {
        width: 100%;
    }

    .display-navbar {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 20rem;
        gap: 2rem;
        padding:0;
    }

    .navbar-desktop {
        display: none;
    }

    .navbar-mobile {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .navbar_span {
        font-size: 20px;
        width: 14rem;
        display: flex;
        position: relative;
        left: 1rem;
    }

    .navbar_mobile {
        display: flex;
        align-items: center;
        width: 55rem;
        height: 100%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1270px) {
    .navbar-desktop {
        display: none;
    }

    .navbar-mobile {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .display-navbar {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 20rem;
        gap: 2rem;
        padding:0;
    }

    .navbar_span {
        font-size: 20px;
        width: 14rem;
        display: flex;
        position: relative;
        left: 1rem;
    }

    .navbar_mobile {
        display: flex;
        align-items: center;
        width: 55rem;
        height: 100%;
    }
}

/* Celular */
@media screen and (min-width: 319px) and (max-width: 426px) {
    .navbar-container{
        width: 27rem;
    }
    
    .display-navbar {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 20rem;
        gap: 2rem;
        padding:0;
    }

    .navbar-desktop {
        display: none;
    }

    .navbar-mobile {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .navbar_span {
        font-size: 20px;
        width: 14rem;
        display: flex;
        position: relative;
        left: 1rem;
    }

    .navbar_mobile {
        display: flex;
        align-items: center;
        width: 55rem;
        height: 100%;
    }
}