.img-fundo {
    background-image: url("@/assets/svg/Modo_de_isolamento.svg");
    background-size: cover;
    height: 83%;
    width: 26%;
    position: absolute;
    top: 0rem;
    z-index: 40;
    pointer-events: none;
    left: 88rem;
    transition: all .5s ease-in-out;
}

body.menu-aberto .img-fundo {
    opacity: 0;
    pointer-events: none;
    transition: all .5s ease-in-out;
}

@media screen and (min-width: 770px) and (max-width: 1026px) {
    .img-fundo {
        background-size: cover;
        height: 89%;
        width: 77%;
        position: absolute;
        top: 5.5rem;
        z-index: 40;
        pointer-events: none;
        left: 15rem;
        transition: all .5s ease-in-out;
    }
}

@media screen and (min-width: 319px) and (max-width: 426px) {
    .img-fundo {
        background-size: cover;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 4rem;
        z-index: 40;
        pointer-events: none;
        left: 0rem;
        transition: all .5s ease-in-out;
    }
}