/* Telas Maiores */
@media screen and (min-width: 1025px) {
    .navbar-desktop {
        display: flex;
    }

    .navbar-mobile {
        display: none;
    }
}

/* Telas Menores*/

/* Tablet */
@media screen and (min-width: 427px) and (max-width: 768px) {
    .navbar-desktop {
        display: none;
    }

    .navbar-mobile {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .navbar_span {
        font-size: 20px;
        width: 14rem;
        display: flex;
        position: relative;
        left: 1rem;
    }

    .btn-menu-navbar {
        right: 12rem;
    }

    .navbar_mobile {
        display: flex;
        align-items: center;
        width: 55rem;
        height: 100%;
    }

    .navbar_grid {
        height: 25rem;
        width: 100%;
        gap: 1rem;
    }

    .h2_centro_mobile {
        top: 1rem;
        left: 3rem;
        font-size: 1rem;
    }

    .mobile-right-in-item-logo {
        width: 4rem;
    }

    .mobile-bottom-in,
    .mobile-top-in-2,
    .mobile-top-in-3,
    .mobile-top-in,
    .mobile-top-in-mobile {
        width: 25rem;
        height: 12.2rem;
        word-break: break-all;
        font-size: 18px;
    }

    .mobile-bottom-in {
        height: 16rem;
        width: 20rem;
    }

    .mobile-top-in {
        width: 20rem;
        height: 13rem;
    }

    .btn-mobile-inicio,
    .btn-mobile-sair {
        width: 20rem;
        height: 3.5rem;
    }

    .navbar-mobile-tablets {
        display: flex;
        flex-direction: column;
        left: -13rem;
    }

    .div-mobile-tablets-3itens {
        top: 25rem;
        left: 22rem;
    }

    .div-mobile-tablets-imgs {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: nowrap;
        gap: 1rem;
    }

    .div-mobile-tablets-noimgs {
        display: flex;
        gap: 1rem;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
        width: 100%;
    }

    .mobile-top-h2-item {
        width: 100%;
    }

    .mobile-top-3 {
        padding: 8px;

        & .mobile-h2-item {
            font-size: 18px;
        }
    }

    .mobile-img-in-item {
        top: -0.5rem;
        left: 5.8rem;
        width: 13rem;
    }

    .mobile-img-item {
        top: -1.1rem;
        left: 5.5rem;
        width: 13rem;
    }

    .mobile-right-item-img,
    .mobile-bottom-item-img,
    .mobile-top-initem-img,
    .mobile-right-initem-logo,
    .mobile-left-item-img {
        width: 5rem;
    }

}

@media screen and (min-width: 769px) and (max-width: 1270px) {
    .navbar-desktop {
        display: none;
    }

    .navbar-mobile {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .navbar_span {
        font-size: 20px;
        width: 14rem;
        display: flex;
        position: relative;
        left: 1rem;
    }

    .btn-menu-navbar {
        right: 12rem;
    }

    .navbar_mobile {
        display: flex;
        align-items: center;
        width: 55rem;
        height: 100%;
    }

    .navbar_grid {
        height: 35rem;
        width: 100%;
        gap: 1rem;
    }

    .h2_centro_mobile {
        top: 1rem;
        left: 3rem;
        font-size: 1rem;
    }

    .mobile-right-in-item-logo {
        width: 4rem;
    }

    .mobile-bottom-in,
    .mobile-top-in-2,
    .mobile-top-in-3,
    .mobile-top-in,
    .mobile-top-in-mobile {
        width: 34rem;
        height: 16rem;
        word-break: break-all;
        font-size: 18px;
    }

    .mobile-bottom-in {
        height: 23rem;
        width: 26rem;
    }

    .mobile-top-in {
        width: 26rem;
        height: 17rem;
    }

    .btn-mobile-inicio,
    .btn-mobile-sair {
        width: 26rem;
        height: 3.5rem;
    }

    .navbar-mobile-tablets {
        display: flex;
        flex-direction: column;
        left: 0rem;
    }

    .div-mobile-tablets-3itens {
        position: relative;
        top: 0rem;
        left: 0rem;
    }

    .div-mobile-tablets-imgs {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: nowrap;
        gap: 1rem;
    }

    .div-mobile-tablets-noimgs {
        display: flex;
        gap: 1rem;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
        width: 100%;
    }

    .mobile-top-h2-item {
        width: 100%;
    }

    .mobile-top-3 {
        padding: 8px;

        & .mobile-h2-item {
            font-size: 18px;
        }
    }

    .mobile-img-in-item {
        top: 1.7rem;
        left: 7.6rem;
    }

    .mobile-img-item {
        top: -1.9rem;
        left: 7.9rem;
    }

    .mobile-right-item-img,
    .mobile-bottom-item-img,
    .mobile-top-initem-img,
    .mobile-right-initem-logo,
    .mobile-left-item-img  {
        width: 8rem;
    }
}

/* Celular */
@media screen and (min-width: 319px) and (max-width: 426px) {
    .navbar-desktop {
        display: none;
    }

    .navbar-mobile {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .navbar_span {
        font-size: 20px;
        width: 14rem;
        display: flex;
        position: relative;
        left: 1rem;
    }

    .btn-menu-navbar {
        right: 12rem;
    }

    .navbar_mobile {
        display: flex;
        align-items: center;
        width: 55rem;
        height: 100%;
    }

    .navbar_grid {
        height: 20rem;
        width: 26rem;
        gap: 1rem;
    }

    .h2_centro_mobile {
        top: 1rem;
        left: 0rem;
        font-size: 1rem;
    }

    .mobile-right-in-item-logo {
        width: 4rem;
    }

    .mobile-bottom-in,
    .mobile-top-in-2,
    .mobile-top-in-3,
    .mobile-top-in,
    .mobile-top-in-mobile {
        width: 12rem;
        height: 9.7rem;
        word-break: break-all;
        font-size: 18px;
    }

    .mobile-right-item-img,
    .mobile-bottom-item-img,
    .mobile-top-initem-img,
    .mobile-right-initem-logo,
    .mobile-left-item-img  {
        width: 3rem;
    }

    .mobile-bottom-in,
    .mobile-top-in {
        width: 10rem;
        height: 11rem;
    }

    .btn-mobile-inicio,
    .btn-mobile-sair {
        width: 10rem;
        height: 3rem;
    }

    .navbar-mobile-tablets {
        display: flex;
        flex-direction: column;
        left: -7rem;
    }

    .div-mobile-tablets-3itens {
        top: 20rem;
        left: 12rem;
    }

    .div-mobile-tablets-imgs {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: nowrap;
        gap: 1rem;
    }

    .div-mobile-tablets-noimgs {
        display: flex;
        gap: 1rem;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
        width: 100%;
    }

    .mobile-top-h2-item {
        width: 100%;
    }

    .mobile-top-3 {
        padding: 8px;

        & .mobile-h2-item {
            font-size: 18px;
        }
    }

    .mobile-img-in-item {
        top: 0rem;
        left: 1rem;
    }

    .mobile-img-item {
        top: -2rem;
        left: 1rem;
    }
}