@media screen and (max-width: 800px) {
    .container-participacao-mobile {
        margin: 0;
    }

    .tirar-padding,
    .modal-header-mobile {
        padding: 0;
    }

    .tirar-margin {
        margin: 0;
    }

    .filtro-mobile-participacao {
        left: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: auto;
        margin: 0;
    }

    .filtro-opcoes-participacao-mobile {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .div-container-filtro-mobile {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: center;
        padding: 0;
    }

    .btn-filtro-mobile {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
        width: 18rem;
        padding-top: 2rem;
    }

    .audiencia-mobile {
        margin: 0;
    }

    .div-videos-mobile,
    .mini-footer-audiencia-mobile,
    .mini-footer-texto-audiencia-mobile {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: auto;
        height: auto;
        padding: 0 2rem;
    }

    .mini-footer-audiencia-mobile {
        margin-bottom: 9rem;
    }

    .container-audiencia-mobile {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        bottom: 0;
        padding: 1rem;
        gap: 2rem;
        padding-bottom: 1rem;
    }

    .span-video-mobile-1 {
        width: auto;
        height: auto;
    }

    .banner-participacao-mobile {
        transform: rotate(90deg);
        left: -1rem;
        position: relative;
        width: 20rem;
        top: 42rem;
        height: 7rem;
        border-bottom-right-radius: 3rem;
        border-bottom-left-radius: 0;
        border-top-right-radius: 3rem;
    }

}