@media screen and (min-width: 1279px) and (max-width: 1438px) {
    .regionalização_mobile {
        margin: 0;
    }

    .ifram-div-regionalizacao-mobile {
        width: 40rem;
        height: 25rem;
    }
}

@media screen and (min-width: 427px) and (max-width: 769px) {

    .regionalização_mobile {
        margin: 0;
        height: 102rem;
    }

    .conteudo-regionalizacao-mobile {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        height: 100%;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: nowrap;
    }

    .ifram-div-regionalizacao-mobile {
        width: 100%;
        right: 0;
        top: 14rem;
        left: 3rem;
    }

    .title-regionalizacao-mobile {
        left: 9rem;
        width: 80%;
        position: absolute;
        bottom: 72rem;
    }

    .btn-regionalizacao-mobile {
        top: 25rem;
        left: 13rem;
    }
}

@media screen and (min-width: 770px) and (max-width: 1025px) {
    .regionalização_mobile {
        margin: 0;
        height: 97rem;
    }

    .conteudo-regionalizacao-mobile {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        height: 100%;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: nowrap;
    }

    .ifram-div-regionalizacao-mobile {
        width: 100%;
        right: 0;
        top: 14rem;
        left: 3rem;
    }

    .title-regionalizacao-mobile {
        left: 5rem;
        width: 100%;
        position: absolute;
        bottom: 70rem;
    }

    .div-mobile-regionalizacao {
        width: 100%;
        position: relative;
        top: 12rem;
        left: 3rem;
    }

    .btn-regionalizacao-mobile {
        top: 20rem;
        left: 20rem;
    }
}

@media screen and (min-width: 319px) and (max-width: 426px) {
    .regionalização_mobile {
        margin: 0;
        height: 75rem;
    }

    .title-mobile {
        font-size: 65px;
    }

    .conteudo-regionalizacao-mobile {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        height: 100%;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: nowrap;
    }

    .ifram-div-regionalizacao-mobile {
        width: 100%;
        right: 0;
        left: 1rem;
        height: 14rem;
    }

    .title-regionalizacao-mobile{
        padding-bottom: 2rem;
    }

    .div-mobile-regionalizacao {
        width: 100%;
        position: relative;
        left: 1rem;
    }

    .btn-regionalizacao-mobile {
        top: 3rem;
        left: -6rem;
    }
}