/*
******

    Sobre

******
 */
@media screen and (min-width: 1279px) and (max-width: 1438px) {
    .subtext-about-mobile {
        font-size: 40px;
    }

    .text-about-mobile {
        font-size: 25px;
    }

    .img-matarazzo {
        font-size: 40px;
    }

    .box-carta-text-mobile {
        left: 36rem;
    }

    .btn-saibaMais-mobile {
        left: 44rem;
    }

    .btn-prefeito-mobile {
        top: -7.5rem;
        left: 31rem;
    }
}

.box-open-carta-mobile {
    height: auto;
}

/* Tablet */
@media screen and (min-width: 427px) and (max-width: 769px) {
    .about-mobile {
        margin: 0;
    }

    .about-mobile-imgs {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: center;
    }

    .div-about-img-mobile {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .img-matarazzo {
        width: 100%;
    }

    .box-about-mobile {
        width: 37rem;
        position: relative;
        bottom: 6rem;
    }

    .subtext-about-mobile {
        font-size: 35px;

        & .text-about-mobile {
            font-size: 23px;
        }
    }

    .btn-saibaMais-mobile {
        left: 19rem;
        bottom: 7rem;
        width: 24%;
    }

    .btn-prefeito-mobile {
        left: 2rem;
        bottom: 12rem;
        width: 24%;
    }

    .box-carta-text-mobile {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        max-height: 191rem;
        overflow-y: auto;
    }

    .box-open-carta-mobile {
        width: 45rem;
        max-height: 80vh;
        left: 0rem;
        overflow-y: auto;
    }
}

@media screen and (min-width: 770px) and (max-width: 1025px) {
    .about-mobile {
        margin: 0;
    }

    .about-mobile-imgs {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: center;
    }

    .div-about-img-mobile {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .img-matarazzo {
        width: 100%;
    }

    .box-about-mobile {
        width: 45rem;
        position: relative;
        bottom: 6rem;
    }

    .subtext-about-mobile {
        font-size: 35px;

        & .text-about-mobile {
            font-size: 23px;
        }
    }

    .btn-saibaMais-mobile {
        left: 23rem;
        bottom: 7rem;
        width: 20%;
    }

    .btn-prefeito-mobile {
        left: 1rem;
        bottom: 12rem;
        width: 20%;
        position: relative;
    }

    .box-carta-text-mobile {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        max-height: 191rem;
        overflow-y: auto;
    }

    .box-open-carta-mobile {
        width: 61rem;
        max-height: 80vh;
        left: 0rem;
        overflow-y: auto;
    }
}

/* Celular */
@media screen and (min-width: 319px) and (max-width: 426px) {
    .about-mobile {
        margin: 0;
    }

    .about-mobile-imgs {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: center;
    }

    .div-about-img-mobile {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .img-matarazzo {
        width: 100%;
    }

    .box-about-mobile {
        width: 24rem;
        position: relative;
        bottom: 6rem;
        padding: 1rem .5rem;
    }

    .subtext-about-mobile {
        font-size: 35px;

        & .text-about-mobile {
            font-size: 23px;
        }
    }

    .btn-saibaMais-mobile {
        left: 13rem;
        bottom: 7rem;
        width: 30%;
    }

    .btn-prefeito-mobile {
        left: 1rem;
        bottom: 12rem;
        width: 30%;
    }

    .box-carta-text-mobile {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        max-height: 191rem;
        overflow-y: auto;
    }

    .box-open-carta-mobile {
        width: 24rem;
        max-height: 80vh;
        left: 0;
        overflow-y: auto;
        top:0;
    }
}