@media screen and (max-width: 321px) {
    .section-mobile-about {
        height: 240vh;
    }
}

@media screen and (min-width: 1279px) and (max-width: 1281px) {
    .Wrapper-Mobile {
        display: flex;
        align-items: center;
        margin: 0 auto;
        max-width: 871px;
        gap: 2rem;
        left: 0;
    }

    .wrapper-container-mobile {
        width: 871px;
    }

    .carousel-mobile-orçamento {
        left: -5px;
    }

    .legenda-mobile-orçamento {
        width: 7rem;
    }

    .list-metas-mobile {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .metas-mobile-wrapper {
        display: block;
    }

    .metas-mobile-wrapper-desktop {
        display: none;
    }

    .introducao-mobile-banner-fundo {
        width: 25rem;

        .introducao-mobile-p {
            position: relative;
            left: 5rem;
        }
    }

    .introducao-mobile {
        margin: 0 5rem !important;
    }

    .textos-eixos-mobile-content {
        margin: 0 5rem;
        width: 55rem;
        position: relative;
        left: 2rem;
    }

    .grid-eixos-mobile-content {
        width: 67rem;
        position: relative;
        left: 9rem;
    }

    .card-eixos {
        left: 2rem !important;
        top: 5rem !important;
    }

    .more-info-mobile-section {
        flex-wrap: wrap;
    }

    .btn-download {
        left: -5rem;
        position: relative;
    }

    .intro-section-about-mobile {
        position: relative;
        left: 5rem;
    }

    .resposta-sobre-mobile {
        position: relative;
        left: -2rem;
    }

    .texto-como-e-feito-mobile {
        width: 60rem;
    }

    .mobile-section-about {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
}